services:
  - type: web
    name: family-payment-tracker-api
    env: docker
    dockerfilePath: ./Dockerfile
    envVars:
      - key: SPRING_DATASOURCE_URL
        sync: false
      - key: SPRING_DATASOURCE_USERNAME
        sync: false
      - key: SPRING_DATASOURCE_PASSWORD
        sync: false
      - key: PORT
        value: 8080

databases:
  - name: family-payment-postgres
    plan: free
    databaseName: family_payment
    user: fpt
