server:
  port: ${PORT:8080}

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/family_payment}
    username: ${SPRING_DATASOURCE_USERNAME:fpt}
    password: ${SPRING_DATASOURCE_PASSWORD:fpt}
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: false
  flyway:
    enabled: true
    baseline-on-migrate: true

logging:
  level:
    root: INFO
    com.eddie.famliy_payment_tracker: INFO
    org.hibernate.SQL: WARN
