server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/family_payment
    username: fpt
    password: fpt
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true

logging:
  level:
    org.hibernate.SQL: info
